@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
* {
  margin: 0;
  padding: 0;
  /*background-color: #D8F8FC;*/
}
#contorno{
  display: block;
  margin: auto;
  padding: 20px;
  border: solid 8px #2E4053;
  height: 150vh;
  width: 95%;
}
.bienvenida{
padding: 80px;
margin: auto;

}

.bienvenida p{
font-family: 'Bakbak One', cursive;
font-size: 30px;
margin: auto;
text-align: center;

}

.imagen img{
display:block;
margin:auto;
border-image: black;
}


.contenido{
display: block;
justify-content: center;
padding-top: 70px;
}

.col{
font-family: 'Poppins', cursive;
font-size: 20px;
padding: 10px;
border-radius: 15px 15px 15px 15px;
border: solid 3px;
text-align: center;
width: 80px;
height: 200px;
border: solid;
}


.banner {
    height: auto;
    overflow: hidden;
}

.banner img {
    width: 100%;
    display: block;
    animation-name: zoom;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.contenedor .box {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
}

.contenedor .Servicios img {
    width: 100%;
    transition: all 300ms ease-in-out;
    margin: auto;
}

@media all and (min-width: 300px) {
    .contenedor .Servicios {
        width: 30%;
        margin: auto;
        text-align: center;
    }
    .contenedor .Servicios:hover img {
        transform: scale(1.2);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    }
}

.contenedor .box .titulo {
    font-size: 3rem;
    text-align: center;
}

.contenedor .box .detalles {
    padding: 6rem 40px;
}

.tituloContacto{
  margin: auto;
  height: 50px;
  padding: 20px;
}

#formulario{
  padding: 50px;
  margin: auto;
  height: 100vh
}

.formulario input{
  width: 300px;
}

.formulario textarea{
  width: 300px;
}

.formulario fieldset{
  border-color: black;
}

#footer{
  text-align: center;
  text-decoration-color: white;
  padding: 50px;
  margin: auto;
  align-self: center;
}
